
<div style="text-align: center;">Este es un ejemplo de validaci&oacute;n en AngularJs.</div>

<div style="text-align: center;">Este input posee cinco validaciones:</div>
<br>
<ul>
	<li>Required</li>
	<li>Minlength de 2 caracteres</li>
	<li>Maxlength de 4 caracteres</li>
	<li>Un pattern de precio</li>
	<li>Una validacion custom, el valor tiene que ser menor que 1000</li>
</ul>
<br>
<form
	name="form"
	novalidate>

	<div
		class="form-group has-feedback"
		style="max-width: 254px;margin: auto;"
		ng-class="{'has-success' : successPrecio(), 'has-error' : errorPrecio()}">
		
		<label>Precio</label>

		<input
			name="cantidad"
			value="{{cantidad}}"
			class="form-control"
			ng-model="cantidad"
			ng-keyup="validarCantidadMaxima(cantidad)"
			ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
			ng-maxlength="4"
			ng-minlength="2"
			required> 

		<span
			class="glyphicon form-control-feedback"
			ng-class="{'glyphicon-ok' : successPrecio(), 'glyphicon-remove' : errorPrecio()}"></span>
	</div>

	<div
		style="max-width: 254px;margin: auto;"
		ng-messages="form.cantidad.$error"
		ng-if="form.cantidad.$touched || form.cantidad.$dirty">

		<div ng-include="'messages.html'"></div>
	</div>


	<button type="submit" ng-click="guardar()"
		ng-disabled="errorPrecio()"
		class="btn btn-success botonGuardar">
		<i class="fa fa-check fa-fw"></i> Guardar
	</button>

<br>
<br>
<br>

<div> hayError: {{hayError}}</div>

	<div
		class="form-group has-feedback"
		style="max-width: 254px;margin: auto;"
		ng-class="{'has-success' : hayError == false, 'has-error' : hayError}">
		
		<label>Precio</label>

		<input
			name="numero"
			class="form-control"
			ng-model="numero"
			> 

				<span
			class="glyphicon form-control-feedback"
			ng-class="{'glyphicon-ok' : hayError == false, 'glyphicon-remove' : hayError}"></span>
	</div>

	<validacion valor="numero" minlength="3" maxlength="6" pattern="^[0-9]+(\.[0-9]{1,2})?$" error="hayError"></validacion>






</form>
